<main class="container">
  <%= link_to sanitize("&larr; Back to expense"), expense_path(@expense) %>

  <div class="header">
    <h1>Edit Expense</h1>
  </div>

  <%= turbo_frame_tag @expense do %>
    <%= render "form", expense: @expense %>
  <% end %>
</main>